In [10]:
import numpy as np
import pandas as pd

from scipy.stats import linregress
import gmaps

import json
import requests
from pprint import pprint

import matplotlib.pyplot as plt

import requests

from config import gkey
gmaps.configure(api_key=gkey)

In [11]:
filepath='Resources/hardship_data_heatmap.csv'
hardship_data_heatmap= pd.read_csv(filepath,index_col=0)
hardship_data_heatmap

,Name,GEOID,Population,Longitude,Latitude,2015-2019,2011-2015,Difference between Time Frames
0,Rogers Park,1,52772,-87.670171,42.009630,61.630585,64.741637,23.096090
1,Norwood Park,10,41109,-87.803451,41.985248,22.139738,25.624614,22.722266
2,Jefferson Park,11,26201,-87.771165,41.978836,38.304424,47.049867,17.461699
3,Forest Glen,12,19579,-87.758358,41.993938,16.696647,16.568261,26.335528
4,North Park,13,17522,-87.723578,41.983651,50.364721,46.624422,29.947440
...,...,...,...,...,...,...,...,...
72,Morgan Park,75,21714,-87.669062,41.689729,53.120251,53.940465,25.386928
73,O'Hare,76,14416,-87.893699,41.975696,58.918869,60.423957,24.702054
74,Edgewater,77,47343,-87.663419,41.986719,26.803564,31.441967,21.568738
75,Near North Side,8,95467,-87.633318,41.899611,3.920002,8.996390,21.130754
76,Edison Park,9,11521,-87.813780,42.007627,6.406122,9.899157,22.714106

In [12]:
filepath='Resources/hardship_locations_heatmap.csv'
hardship_locations_data_heatmap= pd.read_csv(filepath,index_col=0)
hardship_locations_data_heatmap

     Latitude  Longitude
0   42.009630 -87.670171
1   41.985248 -87.803451
2   41.978836 -87.771165
3   41.993938 -87.758358
4   41.983651 -87.723578
..        ...        ...
72  41.689729 -87.669062
73  41.975696 -87.893699
74  41.986719 -87.663419
75  41.899611 -87.633318
76  42.007627 -87.813780

[77 rows x 2 columns]

In [15]:
hardship = hardship_cleaned_df["Difference between Time Frames"].astype(float)
maxhardship = hardship.max()
locations = hardship_cleaned[["Latitude", "Longitude"]].astype(float)

figure_layout = {
   'width': '400px',
   'width': '300px',
   'border': '1px solid black',
   'padding': '1px'
}


fig = gmaps.figure(layout=figure_layout)
hardship_layer = gmaps.heatmap_layer(locations, weights=hardship, dissipating = False, 
                                     max_intensity = maxhardship, point_radius = .03)

fig.add_layer(hardship_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', padding='1px', width='300px'))